In [ ]:
import sqlite3

In [ ]:
db = "./npi_data.db"
conn = sqlite3.connect(db)
conn.text_factory = str
c = conn.cursor()

In [ ]:
c.execute("SELECT * from npi_table where lower(name)='zoidberg'")
result = c.fetchall()
print(result)

In [ ]:
zoidberg = ("Zoidberg", "Planet Express", "New New York","New New York")
c.execute("INSERT INTO npi_table VALUES (?,?,?,?) ",zoidberg)
conn.commit()

In [ ]:
c.execute("SELECT * from npi_table where lower(name)='zoidberg'")
result = c.fetchall()
print(result)

In [ ]:
# Count number of practices in New York vs Texas
c.execute("SELECT * from npi_table where state='NY'")
result = c.fetchall()
#print(result)
print("Number in NY: ", len(result))

In [ ]:
c.execute("SELECT * from npi_table where state='TX'")
result = c.fetchall()
#print(result)
print("Number in NY: ", len(result))

In [ ]:
c.execute("SELECT * from npi_table where lower(name) like 'john%'")
result = c.fetchall()
print(result)

In [ ]:
c.execute("SELECT * from npi_table where lower(name) like 'john %'")
result = c.fetchall()
print(result)

In [ ]:
c.execute("SELECT * from npi_table where lower(name) like 'john %' and state='AL'")
result = c.fetchall()
print(result)

In [ ]:
c.execute("SELECT * from npi_table where lower(name) like 'john %' and state='AL' and city='MOBILE'")
result = c.fetchall()
print(result)

In [ ]:
for r in result:
    print(r[0])

In [ ]:
for r in result:
    names = r[0].split(" ")
    if names[-1] == "BYRD":
        print(names)

In [ ]:
conn.close()